<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Sempre Doce</title>
    <!-- Importação de Fontes -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css')}}">
</head>
<body>
<header>
        <nav class="navbar">
            <div class="logo">Sempre Doce</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('cadastro') }}">Cadastro</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('inicial') }}">Home</a></li>
                <li><a href="{{ url_for('cardapio') }}">Cardápio</a></li>
                <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                <li><a href="{{ url_for('contato') }}">Contato</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="hero-content">
            <div class="container">
                <h1>Cadastro - Sempre Doce</h1>
                <p>Escolha uma opção para criar sua conta:</p>
                <div class="input-group">
                    <button class="email-btn">Cadastrar com Email</button>
                    <button class="facebook-btn">Cadastrar com Facebook</button>
                    <button class="phone-btn">Cadastrar com Número de Celular</button>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <p>&copy; 2024 Sempre Doce - Todos os direitos reservados</p>
    </footer>
</body>
</html>
