<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - Confeitaria Sempre Doce</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css')}}">

</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">Sempre Doce</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('cadastro') }}">Cadastro</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('inicial') }}">Home</a></li>
                <li><a href="{{ url_for('cardapio') }}">Cardápio</a></li>
                <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                <li><a href="{{ url_for('contato') }}">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Confeitaria Sempre Doce</h1>
                <p>Desde 1970, os melhores doces e produtos.</p>
            </div>
        </section>

        <section class="container">
            <h2>Sobre a Confeitaria</h2>
            <p>Fundada em 1970, a Confeitaria Sempre Doce tem sido sinônimo de qualidade e tradição, oferecendo os melhores
                doces e produtos. Nossos confeiteiros são especialistas em transformar ingredientes frescos em obras de
                arte culinárias, criando doces que trazem sabor e alegria a todos os momentos.</p>
        </section>

        <section class="container">
            <h2>Nossa Equipe</h2>
            <div class="team">
                <div class="team-member">
                    <img src="https://i.pinimg.com/564x/0e/cc/41/0ecc4171496ffa2ac05211007cf9a14f.jpg" alt="Chef Maria Silva">
                    <h3>Beatriz</h3>
                    <p>Chef de Confeitaria</p>
                </div>
                <div class="team-member">
                    <img src="https://i.pinimg.com/736x/c0/50/b8/c050b8ec33539e36a3b474b8052b3948.jpg" alt="Assistente João Santos">
                    <h3>Rafaela Oliveira</h3>
                    <p>Assistente de Confeitaria</p>
                </div>
                <div class="team-member">
                    <img src="https://i.pinimg.com/564x/ff/f3/ba/fff3bab05d1c994364b4724d5aba4ae8.jpg" alt="Decoradora Ana Souza">
                    <h3>Julia Souza</h3>
                    <p>Decoradora de Bolos</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Confeitaria Sempre Doce. Todos os direitos reservados.</p>
    </footer>
</body>

</html>
