<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sempre Doce - Upload de Arquivos</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css')}}">

</head>
<body>

<header>
    <h1>Sempre Doce</h1>
    <p>Confeitaria Deliciosa</p>
</header>

<div class="container">
    <h2>Faça o Upload de Suas Receitas</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="recipeFile" accept=".txt" required>
        <button type="submit" class="upload-btn">Enviar Receita</button>
    </form>
</div>

<footer>
    <p>&copy; 2024 Sempre Doce. Todos os direitos reservados.</p>
</footer>

</body>
</html>
